* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #eeefef;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 30px;

  .default-btn {
    margin-left: auto;
  }

  .main-content {
    grid-column: 1/-1;
  }
}

main {
  padding: 85px 15px 30px;
  @media screen and(min-width: 992px) {
    padding: 50px 0px 50px 130px;
  }
}

.default-btn {
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
  font-family: $helveticaL;
  font-size: 12px;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
  }

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  @media screen and(min-width: 992px) {
    font-size: 15px;
    min-width: 255px;
    width: fit-content;
  }

  &.red-btn {
    background-color: #dc3545;
    border-color: #dc3545;

    &:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }

    &:focus {
      background-color: #c82333;
      border-color: #bd2130;
      box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
    }
  }
}

.default-title {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: $helveticaR;
  @media screen and (min-width: 992px) {
    font-size: 34px;
  }
}

.default-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;

  .default-btn[type="submit"] {
    grid-column: 1/-1;
    width: 100%;

    @media screen and(min-width: 992px) {
      width: 255px;
      margin: 0 auto;
    }
  }

  @media screen and(min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

.default-input {
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 4px;
  color: #495057;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
  }
}

label {
  display: flex;
  align-items: center;
  span {
    margin-right: 5px;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}