extends layout

append header
    include includes/header

append content
    main.admin-main
        .container
            .default-title Добавление проекта
            a(href="/admin").default-btn Отменить
            .main-content
                form.default-form(action='/admin/projects/add' method="POST" enctype='multipart/form-data')
                    select(name="project[category]").default-input
                        each category in categories
                            if(!(category.category === 'Все'))
                                option(value=category._id) #{category.category}
                    input.default-input(type="input" name="project[header]" placeholder="Header")
                    input.default-input(type="input" name="project[description]" placeholder="Description")
                    input.default-input(type="input" name="project[headerInfo]" placeholder="Header info")
                    input.default-input(type="input" name="project[descriptionInfo]" placeholder="Description info")
                    input.default-input(type="input" name="project[officialSite]" placeholder="Official site")
                    input.default-input(type="input" name="project[metaTitle]" placeholder="Meta title")
                    input.default-input(type="input" name="project[metaDescription]" placeholder="Meta description")
                    input.default-input(type="input" name="project[metaKeywords]" placeholder="Meta keywords")
                    input.default-input(type="input" name="project[browserLink]" placeholder="Browser link")
                    input.default-input(type="input" name="project[bodyClass]" placeholder="Body class")
                    label
                        span Активный
                        input.default-input(type="checkbox" name="project[enabled]" placeholder="enabled" checked)
                    label Header Image
                        input.default-input(type="file" name="headerImg")
                    label Footer Image
                        input.default-input(type="file" name="footerImg")
                    button.default-btn(type="submit") Создать