extends layout

append header
    include includes/header

append content
    main.admin-main.categories-main
        .container
            .default-title Категории
            a(href="/admin").default-btn К проектам
            .main-content
                each category in categories
                    .category
                        form.category-form__edit(action="/admin/categories/edit" method="POST")
                            input(type="hidden" value=`${category._id}` name="category_id")
                            input.default-input(type="text" placeholder="Category" value=category.category required name="category")
                            button(type="submit")
                                img(src="/images/admin/EditIcon.svg" alt="edit")
                        form.category-form__delete(action="/admin/categories/delete" method="POST")
                            input(type="hidden" value=`${category._id}` name="category_id")
                            button(type="submit")
                                img(src="/images/admin/DeleteIcon.svg" alt="delete")

                form.category-form__add(action='/admin/categories/add' method="POST")
                    input.default-input(type="text" name="category" placeholder="Category" required)
                    button.default-btn(type="submit") Добавить