extends layout

append header
    include includes/header

append content
    main.admin-main
        .container
            .default-title Проекты
            a(href="/admin/projects/add").default-btn Создать проект
            .main-content
                .cards
                    each project in projects
                        .card
                            img.card-drag(src="/images/admin/drag.png")
                            span #{project.header}
                            a.card-edit(href="/admin/projects/" + project.browserLink)
                                img(src="/images/admin/EditIcon.svg" alt="edit")
                            form.project-form__delete(action="/admin/projects/delete" method="POST")
                                input(type="hidden" value=`${project._id}` name="project_id")
                                button(type="submit")
                                    img(src="/images/admin/DeleteIcon.svg" alt="delete")

