doctype html
html(lang="en")
    head
        block vars
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        link(rel="shortcut icon" href="src/images/icons/favicon.png" type="image/png")
        link(rel='stylesheet', href='/css/admin/style.bundle.css')
        title #{title}

    body

        block header

        block content


    script(src="/js/admin/bundle.js")