extends layout

append content
    main.main-login
        .container
            img.main-login__logo(src='/images/logo.svg' alt='logo')
            .default-title Вход
            form.default-form.login-form(action='/admin/login' method='post')
                input.default-input(type='text' name='login' placeholder='Логин' required)
                input.default-input(type='password' name='password' minlength='6' placeholder='Пароль' required)
                button.default-btn(type='submit') Войти