extends layout

append header
    include includes/header

append content
    main.admin-main.project-main
        .container
            .default-title #{project.header}
            a(href="/admin").default-btn Назад
            .main-content
                form.default-form(action='/admin/projects/edit' method="POST" enctype='multipart/form-data')
                    input(type="hidden" value=`${project._id}` name="project[project_id]")
                    select(name="project[category]").default-input
                        each category in categories
                            if(!(category.category === 'Все'))
                                - const projectC = project.category || ''
                                option(value=category._id selected=(projectC.toString()) === category._id.toString()) #{category.category}
                    input.default-input(type="input" name="project[header]" placeholder="Header" value=project.header)
                    input.default-input(type="input" name="project[description]" placeholder="Description" value=project.description)
                    input.default-input(type="input" name="project[headerInfo]" placeholder="Header info" value=project.headerInfo)
                    input.default-input(type="input" name="project[descriptionInfo]" placeholder="Description info" value=project.descriptionInfo)
                    input.default-input(type="input" name="project[officialSite]" placeholder="Official site" value=project.officialSite)
                    input.default-input(type="input" name="project[metaTitle]" placeholder="Meta title" value=project.metaTitle)
                    input.default-input(type="input" name="project[metaDescription]" placeholder="Meta description" value=project.metaDescription)
                    input.default-input(type="input" name="project[metaKeywords]" placeholder="Meta keywords" value=project.metaKeywords)
                    input.default-input(type="input" name="project[browserLink]" placeholder="Browser link" value=project.browserLink)
                    input.default-input(type="input" name="project[bodyClass]" placeholder="Body class" value=project.bodyClass)
                    label
                        span Активный
                        input.default-input(type="checkbox" name="project[enabled]" placeholder="enabled" checked=!!project.enabled)
                    label Header Image
                        img(src=project.headerImg alt="header img")
                        input.default-input(type="file" name="headerImg")
                    label Footer Image
                        img(src=project.footerImg alt="footerImg")
                        input.default-input(type="file" name="footerImg")
                    button.default-btn(type="submit") Сохранить
                .project-photos
                    if project.images
                        each photo in project.images
                            .photo-wrap
                                form(action="/admin/project/photo/delete" method="POST")
                                    input(type="hidden" name="photoId" value=`${photo._id}`)
                                    button(type="submit")
                                        img(src="/images/admin/DeleteIcon.svg" alt="delete")
                                img.photo-wrap__img(src=photo.url alt="project photo")
                    form.default-form(action="/admin/project/photos" method="POST" enctype='multipart/form-data')
                        input(type="hidden" value=`${project._id}` name="project_id")
                        label.input-add
                            input(type="file" name="projectPhotos" multiple="multiple")
                        button.default-btn(type="submit") Сохранить


