extends layout

append header
    include includes/header

append content
    main.main-settings.admin-main
        .container
            .default-title Настройки
            form(action="/admin/logout" method="post")
                button(type="submit").default-btn Выход
            .main-content
                form.default-form.password-form(action='/admin/password' method='post')
                    .default-title Смена пароля
                    input.default-input(type='password' name='password[new]' minlength='6' placeholder='Новый пароль' required)
                    input.default-input(type='password' name='password[confirmP]' minlength='6' placeholder='Подтвердите пароль' required)
                    button.default-btn(type='submit') Изменить пароль