footer.footer
    .container(data-aos="fade-out" data-aos-duration="1600")
        .footer-logo
            img(src="/images/logo2.svg" alt="logo")
            span На одной веб волне
        .footer-nav
            .footer-nav__label Разделы
            .footer-nav__links
                a(href="/") Главная
                a(href="/projects") Портфолио
                a(href="/services") Услуги
                a(href="/about") О нас
                a(href="/callback") Связаться с нами
        .footer-nav
            .footer-nav__label Контакты
            .footer-nav__links
                a(href="mailto: sales@comnd-x.com") sales@comnd-x.com
                a(href="tel: +380981888970") +38 (098) 188 89 70
                a.instagram(href="")
                    img(src="/images/icons/instagram.svg")
                    span instagram
                a.behance(href="")
                    img(src="/images/icons/behance.svg")
                    span behance
        .copyrights
            span 2017-2021 (с) Command+X.
            span  All rights reserved.
