section.form-section(data-aos="clipLeft" data-aos-duration="1600")
    .container
        .default-title Получить консультацию
        form.callback-form(action="" method="post")
            .form-inputs
                input.form-input(type="text" name="name" required placeholder="Имя")
                input.form-input(type="phone" name="phone" required placeholder="+38 (0ХХ) ХХХ ХХ ХХ")
            button.default-btn.white-btn(type="submit")
                each item in 'Отправить'
                    span #{item}
