header.header
    .container
        a.header-logo(href="/")
            img(src="/images/logo2.svg" alt="logo")
        .burger-menu
            span
            span
            span
    nav.header-nav
        a.header-nav__item(href="/")
            span Главная
        a.header-nav__item(href="/about")
            span О нас
        a.header-nav__item(href="/projects")
            span Портфолио
        a.header-nav__item(href="/callback")
            span Связаться
        svg.shape-overlays(viewbox='0 0 100 100' preserveaspectratio='none')
            path.shape-overlays__path
            path.shape-overlays__path
            path.shape-overlays__path


