section.services-section
    .container
        .default-title(data-aos="user-fade-up" data-aos-duration="1100")
            span Наши
            span   услуги
        .services-cards
            .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200")
                img.card-img(src="/images/sites/sites-main.jpg" alt="available sites")
                .default-card__title Доступные сайты
                .default-desc Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.
            .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400")
                img.card-img(src="/images/logo/logo-main.jpg" alt="available sites")
                .default-card__title Доступные сайты
                .default-desc Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.
            .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="600")
                img.card-img(src="/images/naming/naming-main.jpg" alt="available sites")
                .default-card__title Доступные сайты
                .default-desc Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.