.admin-header {
  height: 50px;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  display: flex;
  color: #000;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  @media screen and(min-width: 992px) {
    overflow-y: hidden;
    clip-path: inset(0 64% 0 0);
    padding: 150px 18px 30px;
    transition: all ease-in-out .6s;
    height: 100vh;
    width: unset;
    pointer-events: all;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
  }

  &.active {
    @media screen and(min-width: 993px) {
      clip-path: inset(0 0 0 0);
    }

    .admin-menu__toggler {
      @media screen and(min-width: 993px) {
        transform: rotate(.5turn);
      }

     @media screen and(max-width: 992px) {
       span {
         &:first-child {
           transform: translateY(7px) rotate(-45deg);
         }
         &:nth-child(2) {
           transform: translateX(calc(100% + 15px));
           opacity: 0;
         }
         &:last-child {
           transform: translateY(-8px) rotate(45deg);
         }
       }
     }
    }

    .admin-header__menu-item {
      span {
        pointer-events: all;
      }
    }

    .admin-header__menu {
      clip-path: inset(0 0 0 0);
      pointer-events: all;
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 18px;

    span {
      width: 100%;
      height: 3px;
      border-radius: 1px;
      background-color: #000;
      transition: all ease-in-out .6s;
      display: block;
    }
    @media screen and(min-width: 993px) {
      display: none;
    }
  }

  .admin-header__logo {
    width: 100px;
    display: block;
    z-index: 4;
    position: relative;

    @media screen and(min-width: 993px) {
      width: 40px;
      position: absolute;
      left: 11px;
      top: 30px;
    }
  }

  .admin-header__menu {
    @media screen and(max-width: 992px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      clip-path:inset( 0 0 100% 0);
      transition: all ease-in-out .6s;
      pointer-events: none;
    }
  }

  .admin-header__menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;

    img,svg {
      margin-right: 30px;
      max-width: 25px;
      height: auto;
    }

    span {
      pointer-events: none;
      color: #000;
      font-size: 36px;
      font-family: $helveticaR;

      @media screen and(min-width: 993px) {
        font-size: 15px;
        font-family: $helveticaL;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  .admin-menu__toggler {
    cursor: pointer;
    transition: transform ease-in-out .6s;
    width: fit-content;
    z-index: 2;
    position: relative;

    img,svg {
      pointer-events: none;
      display: none;
      @media screen and(min-width: 993px) {
        display: block;
      }
    }

    @media screen and(min-width: 993px) {
      margin-top: auto;
    }
  }
}