extends layout

append header
    include includes/header

append content
    main#main-about
        .container.line-container
            span.line
            span.line
            span.line
            span.line
        .container
            .section-content
                .about-title о Command+X
                .default-desc Мы разрабатываем <span>сайты</span>, которые полностью соответствуют современным тенденциям в мире <span>IT-технологий</span>  и <span>дизайна</span>. Мы стремимся создавать только <span>качественный продукт</span>, которым не стыдно похвалиться даже перед конкурентами
        .container.about-nav__container
            .socials
                a(href="")
                    img.svg(src="/images/icons/instagram.svg" alt="insta")
                    span instagram
                a(href="")
                    img.svg(src="/images/icons/behance.svg" alt="behance")
                    span behance
            a.help-link(href="/callback") Получить помощь