extends layout

append header
    include includes/header

append content
    main#callback-main
        .container.line-container
            span.line
            span.line
            span.line
        .container
            .section-content
                .section-title(data-aos="user-fade-up" data-aos-duration="1100") Новое время создаёт новые правила.
                .default-desc(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200") Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального результата. Мы подстраиваемся под новые тенденции, чтобы Вы были уверены, что передали реализацию Ваших идей в правильные руки. Заполните форму и наш менеджер непременно с Вами свяжется.
                form(action="" method="POST").callback-form
                    .input-wrap(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400")
                        input(type="text" name="name" placeholder="Имя" required).callback-input
                    .input-wrap(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="600")
                        input(type="phone" name="phone" placeholder="+38 (0ХХ) ХХХ ХХ ХХ" required).callback-input
                    textarea(name="comment" placeholder="Опишите Ваши пожелания и мы воплотим их в жизнь!" data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="800").callback-input
                    span(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="1000") Поля со звездочкой * обязательны к заполнению
                    button(type="submit" data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="1200").default-btn
                        each item in 'Отправить'
                            span #{item}
        //.container.about-nav__container
        //    .socials
        //        a(href="")
        //            img.svg(src="/images/icons/instagram.svg" alt="insta")
        //            span instagram
        //        a(href="")
        //            img.svg(src="/images/icons/behance.svg" alt="behance")
        //            span behance
        //    a.help-link(href="/") Получить помощь
append footer
    include includes/footer
