extends layout

append header
    include includes/header

append content
    main#error-main
        .container.line-container
            span.line
            span.line
            span.line
        .container(data-aos="user-fade-up" data-aos-duration="2000")
            img.error-img(src="/images/error/error.png" alt="404 error")
        .container.about-nav__container
            .socials
                a(href="")
                    img.svg(src="/images/icons/instagram.svg" alt="insta")
                    span instagram
                a(href="")
                    img.svg(src="/images/icons/behance.svg" alt="behance")
                    span behance
            a.help-link(href="/callback") Получить помощь