extends layout

append header
    include includes/header

append content
    main.main
        .container.line-container
            span.line
            span.line
            span.line
            span.line
        section.main-section
            .container
                .main-section__img
                    img.burger-svg(src="/images/main/burger.svg" alt="burger")
                .section-content
                    .default-subtitle На одной веб-волне
                    .default-title
                        span C
                        span O
                        span M
                        span M
                        span A
                        span N
                        span D
                        span +
                        span X
                        span w
                        span e
                        span b
                        span s
                        span t
                        span u
                        span d
                        span i
                        span o
                    .content-line
                    .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального результата.
                    a.default-btn.white-btn(href="/callback")
                        span п
                        span о
                        span л
                        span у
                        span ч
                        span и
                        span т
                        span ь&nbsp;
                        span п
                        span о
                        span м
                        span о
                        span щ
                        span ь
            .container
                .socials
                    a(href="")
                        img.svg(src="/images/icons/instagram.svg" alt="insta")
                        span instagram
                    a(href="")
                        img.svg(src="/images/icons/behance.svg" alt="behance")
                        span behance
                .mouse
                a.help-link(href="/projects") Наши работы
        section.about-section
            .container
                .default-title(data-aos="user-fade-up" data-aos-duration="1100" )
                    span О нашей
                    span   команде «X»
                .about-desc
                    .default-desc(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200") Web-студия Command+X занимается разработкой и реализацией креативных ІТ проектов. Наша команда молодых, талантливых специалистов создает современный и качественный продукт, который обеспечивает четкую и эффективную коммуникацию вашего бренда с клиентом.
                    .default-desc(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400") Web-студия Command+X занимается разработкой и реализацией креативных ІТ проектов. Наша команда молодых, талантливых специалистов создает современный и качественный продукт, который обеспечивает четкую и эффективную коммуникацию вашего бренда с клиентом.
        include includes/services
        section.projects-section
            .container
                .section-content
                    .section-img
                        img(data-aos="clipLeft" data-aos-duration="1100" src="/images/projects/tepm.jpg" alt="project")
                    .content
                        .default-subtitle(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200") Заявите о себе
                        .default-title(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400")
                            span Бизнес сообщество
                            span  КМБ
                        .default-desc(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="600") Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.
                        a.default-btn(href="" data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="800")
                            each item in 'Смотреть'
                                span #{item}
                            span &nbsp;
                            each item in 'проект'
                                span #{item}
                .section-content
                    .content
                        .default-subtitle(data-aos="user-fade-up" data-aos-duration="1100") Заявите о себе
                        .default-title(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200")
                            span Бизнес сообщество
                            span  КМБ
                        .default-desc(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400") Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.
                        a.default-btn(href="" data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="600")
                            each item in 'Смотреть'
                                span #{item}
                            span &nbsp;
                            each item in 'проект'
                                span #{item}
                    .section-img
                        img(src="/images/projects/tepm.jpg" alt="project" data-aos="clipRight" data-aos-duration="1100" data-aos-delay="800")
                .section-content
                    .section-img
                        img(data-aos="clipLeft" data-aos-duration="1100" src="/images/projects/tepm.jpg" alt="project")
                    .content
                        .default-subtitle(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200") Заявите о себе
                        .default-title(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400")
                            span Бизнес сообщество
                            span  КМБ
                        .default-desc(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="600") Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.
                        a.default-btn(href="" data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="800")
                            each item in 'Смотреть'
                                span #{item}
                            span &nbsp;
                            each item in 'проект'
                                span #{item}
        include includes/form


append footer
    include includes/footer