doctype html
html(lang="en")
    head
        block vars
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
        link(rel='stylesheet', href='/css/style.bundle.css')
        title #{title}

    body(class=`${project&&project.bodyClass ? project.bodyClass : ''}`)

        block header

        block content

        block footer
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript")
    script(src="/js/bundle.js")
