extends layout

append header
    include includes/header

append content
    main#main-logo
        .container.line-container
            span.line
            span.line
            span.line
            span.line
        section.main-section
            .container
                .section-content
                    .default-title(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="1800") Логотип
                    .default-desc(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="2000") Здесь мог быть шаблонный текст о том, что такое брендинг и как он важен для бизнеса. Но давайте начистоту. Бренд — это совокупность вложений в мнение потребителя о вашей компании. Сервис, качество, рекламные коммуникации, техподдержка, фирменный стиль, цена и множество других факторов и формируют ваш бренд.
                    a(href="/callback" data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="2200").default-btn
                        each item in 'получить'
                            span #{item}
                        span &nbsp;
                        each item in 'консультацию'
                            span #{item}
                .main-section__img(data-aos="clipRight" data-aos-duration="1100" data-aos-delay="2400")
                    img(src="/images/logo/logo-main.jpg")
        section.advantages-section
            .container
                .default-title(data-aos="user-fade-up" data-aos-duration="1100")
                    span наши
                    span   преимущества
                .advantage-cards
                    .advantage-card(data-aos="user-fade-up" data-aos-duration="1100")
                        img.card-img(src="/images/icons/advantage.svg")
                        .default-card__title Нереальные сроки
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального
                    .advantage-card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200")
                        img.card-img(src="/images/icons/advantage.svg")
                        .default-card__title Нереальные сроки
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального
                    .advantage-card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400")
                        img.card-img(src="/images/icons/advantage.svg")
                        .default-card__title Нереальные сроки
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального
        section.steps-section
            .container
                .default-title(data-aos="user-fade-up" data-aos-duration="1100")
                    span Этапы
                    span   работы
                .steps-cards
                    .steps-card(data-aos="user-fade-up" data-aos-duration="1100")
                        .default-card__title <span>1.</span> Брифинг
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального результата. Мы подстраиваемся под новые тенденции, чтобы Вы
                    .steps-card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200")
                        .default-card__title <span>2.</span> Брифинг
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального результата. Мы подстраиваемся под новые тенденции, чтобы Вы
                    .steps-card(data-aos="user-ade-up" data-aos-duration="1100" data-aos-delay="400")
                        .default-card__title <span>3.</span> Брифинг
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального результата. Мы подстраиваемся под новые тенденции, чтобы Вы
                    .steps-card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="600")
                        .default-card__title <span>4.</span> Брифинг
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального результата. Мы подстраиваемся под новые тенденции, чтобы Вы
                    .steps-card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="800")
                        .default-card__title <span>5.</span> Брифинг
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального результата. Мы подстраиваемся под новые тенденции, чтобы Вы
                    .steps-card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="1000")
                        .default-card__title <span>6.</span> Брифинг
                        .default-desc Очень важно держать руку на пульсе событий в мире web-технологий, только так можно добиться максимального результата. Мы подстраиваемся под новые тенденции, чтобы Вы
        section.prices-section
            .container
                .default-title(data-aos="user-fade-up" data-aos-duration="1100")
                    span пакеты
                    span   и цены
                .prices-cards
                    .card(data-aos="user-fade-up" data-aos-duration="1100")
                        .default-card__title
                            span Базовый
                        .default-card__subtitle 250$
                        .default-desc
                            span 3 варианта
                            span Описание значения вариантов
                            span Сделаем за 7-10 дней
                            span Передача всех прав
                            span Проверка свободности домена
                        a.default-btn(href="/callback")
                            each item in 'Обсудить'
                                span #{item}
                            span &nbsp;
                            each item in 'проект'
                                span #{item}
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200")
                        .default-card__title
                            span Стандарт
                        .default-card__subtitle 350$
                        .default-desc
                            span 5 вариантов
                            span Описание значения вариантов
                            span Сделаем за 10-14 дней
                            span Передача всех прав
                            span Проверка свободности домена
                        a.default-btn(href="/callback")
                            each item in 'Обсудить'
                                span #{item}
                            span &nbsp;
                            each item in 'проект'
                                span #{item}
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400")
                        .default-card__title
                            span Топ
                        .default-card__subtitle 500$
                        .default-desc
                            span 10 вариантов
                            span Сделаем за 14-21 день
                            span Передача всех прав
                            span Проверка свободности домена
                        a.default-btn(href="/callback")
                            each item in 'Обсудить'
                                span #{item}
                            span &nbsp;
                            each item in 'проект'
                                span #{item}
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="600")
                        .default-card__title
                            span Индивидуально
                        .default-card__subtitle ???
                        .default-desc
                            span 5 вариантов
                            span Описание значения вариантов
                            span Сделаем за 7-10 дней
                            span Передача всех прав
                            span Проверка свободности домена
                        a.default-btn(href="/callback")
                            each item in 'Обсудить'
                                span #{item}
                            span &nbsp;
                            each item in 'проект'
                                span #{item}
        section.examples-section
            .container
                .default-title(data-aos="user-fade-up" data-aos-duration="1100")
                    span Примеры
                    span   работ
                .examples-cards
                    .card(data-aos="user-fade-up" data-aos-duration="1100")
                        img.card-img(src="/images/naming/naming-examples-test.jpg")
                        .default-card__title Нейминг для пабло
                        .default-desc Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200")
                        img.card-img(src="/images/naming/naming-examples-test.jpg")
                        .default-card__title Eat & go
                        .default-desc Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400")
                        img.card-img(src="/images/naming/naming-examples-test.jpg")
                        .default-card__title Ещё какой-то нейминг
                        .default-desc Сайт - это лицо компании в интернете, визитная карточка и виртуальный офис одновременно, один из главных источников информации о компании для ваших клиентов и партнеров.
        include includes/form
append footer
    include includes/footer