extends layout

append header
    include includes/header

append content
    main#project-main
        .container.line-container
            span.line
            span.line
            span.line
            span.line
        section.main-section
            img(src=project.headerImg alt="project-picture").main-section__img
            .container
                .section-content
                    .default-title(data-aos="user-fade-up" data-aos-duration="1500" data-aos-delay="800") #{project.header}
                    .default-desc(data-aos="user-fade-up" data-aos-duration="1500" data-aos-delay="1000") #{project.description}
            .container.main-section__nav
                .projects-nav
                    a(href=`${prev[0] ? '/projects/' + prev[0].browserLink : ''}`).prev-arrow
                        img(src="/images/icons/arrow.svg")
                        span Предыдущий
                    a(href=`${next[0] ? '/projects/' + next[0].browserLink : ''}`).next-arrow
                        span Следующий
                        img(src="/images/icons/arrow.svg")
                .project-links
                    a(href="") На сайт
                    a(href="/projects") Все работы
        section.about-section
            .container
                .default-title(data-aos="user-fade-up" data-aos-duration="1100") о проекте
                .about-section__info
                    .default-desc(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200") Идейные соображения высшего порядка, а также консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании формированного лица
                    .info-card__wrap
                        .info-card(data-aos="clipLeft" data-aos-duration="1100" data-aos-delay="400")
                            .info-card__name
                                span Название
                                span Villa Victoria
                            .info-card__year
                                span Год
                                span 2020
                            .info-card__link
                                span Линка
                                span villavictoria.com
                .about-section__cards
                    .card(data-aos="user-fade-up" data-aos-duration="1100")
                        img(src="/images/projects/project-card__temp.png").card-img
                        .card-desc Анализ
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200")
                        img(src="/images/projects/project-card__temp.png").card-img
                        .card-desc Анализ
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="400")
                        img(src="/images/projects/project-card__temp.png").card-img
                        .card-desc Анализ
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="600")
                        img(src="/images/projects/project-card__temp.png").card-img
                        .card-desc Анализ
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="800")
                        img(src="/images/projects/project-card__temp.png").card-img
                        .card-desc Анализ
                    .card(data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="1000")
                        img(src="/images/projects/project-card__temp.png").card-img
                        .card-desc Анализ
        section.photos-section
            if project.images
                each photo in project.images
                    img(src=photo.url data-aos="user-fade-up" data-aos-duration="1100")
        section.photo-section
            img(src=project.footerImg alt="footer image")
        section.nav-section
            .container
                a(href=`${prev[0] ? '/projects/' + prev[0].browserLink : ''}` data-aos="user-fade-right" data-aos-duration="1100").nav-prev
                    img.svg(src="/images/icons/arrow.svg" alt="arrow")
                    span Предыдущий
                a(href="/projects" data-aos="user-fade-up" data-aos-duration="1100" data-aos-delay="200").nav-link Все проекты
                a(href=`${next[0] ? '/projects/' + next[0].browserLink : ''}` data-aos="user-fade-left" data-aos-duration="1100").nav-next
                    span Следующий
                    img.svg(src="/images/icons/arrow.svg" alt="arrow")
        include includes/form




append footer
    include includes/footer