extends layout

append header
    include includes/header

append content
    main#projects-main
        .container.line-container
            span.line
            span.line
            span.line
            span.line
        section.projects-section
            .container
                .default-title(data-aos="user-fade-right" data-aos-duration="1500")
                    span Наши
                    span  работы
                .default-desc(data-aos="user-fade-left" data-aos-duration="1500") “Если у тебя есть энтузиазм, ты можешь совершить все, что угодно. Энтузиазм — это основа любого прогресса” <br> — Генри Форд
            .container
                .projects-nav
                    .nav-tabs
                        - let count = 1;
                        each category in categories
                            if count === 1
                                .tab.active(data-sort=category.category == 'Все' ? 'all' : category._id data-aos="fade-right" data-aos-duration="1500" data-aos-delay=200*count++) #{category.category}
                            else
                                .tab(data-sort=category.category == 'Все' ? 'all' : category._id data-aos="fade-right" data-aos-duration="1500" data-aos-delay=200*count++) #{category.category}

                    a.nav-link(href="/callback" data-aos="user-fade-left" data-aos-duration="1500" data-aos-delay="800") Связаться с нами
                .projects-wrap
                    each project in projects
                        a(data-sort=project.category data-aos="user-fade-up" data-aos-duration="1500" href=`/projects/${project.browserLink}`).project
                            img(src=project.headerImg alt="project-picture")
                            .project-content
                                .project-title #{project.header}
                                .project-desc #{project.description}


append footer
    include includes/footer