extends layout

append header
    include includes/header

append content
    main#main-services
        .container.line-container
            span.line
            span.line
            span.line
            span.line
        include includes/services