.categories-main {
  .main-content {
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
  }

  .category-form__add {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  .category {
    display: flex;
    align-items: center;

    img, svg {
      height: 16px;
      width: auto;
    }

    button {
      cursor: pointer;
    }
  }

  .category-form__edit {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 100%;

    input {
      margin-right: 10px;
      width: 100%;
    }
  }
}