.admin-main {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and(min-width: 993px) {
      padding: 10px 15px;
    }

    button {
      background-color: unset;
      display: block;
      cursor: pointer;
    }

    img {
      height: 18px;
    }

    span {
      font-family: $helveticaR;
      transform: translateY(2px);
    }
  }

  .card-drag {
    margin-right: 10px;
    cursor: pointer;
  }

  .card-edit {
    margin-left: auto;
    margin-right: 10px;
  }
}
