.main-login {
  background-color: #eeefef;
  height: 100vh;
  padding: 30px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .main-login__logo {
    margin-bottom: 80px;
  }

  .default-form {
    display: flex;
    flex-direction: column;
  }
}


@keyframes notification {
  0% {
    transform: translateY(calc(-100% + -15px));
  }
  100% {
    transform: translateY(0);
  }
}

.error-notification, .success-notification {
  position: absolute;
  right: 15px;
  top: 15px;
  animation: notification .6s .0s ease-in-out;
  background-color: rgba(210, 59, 55, 0.8);
  color: #fff;
  font-family: unset;
  padding: 25px;
  max-width: 350px;
  text-align: center;
  cursor: pointer;
}

.success-notification {
  background-color: rgba(29, 201, 111, .8);
}