.project-main {
  label {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 15px;
      width: 100%;
      height: 200px;
      object-fit: cover;

      @media screen and(min-width: 993px) {
        height: 350px;
      }
    }
  }

  .photo-wrap {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: 160px;

    @media screen and(min-width: 993px) {
      height: 214px;
    }
    .photo-wrap__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      content: '';
      height: 45px;
      backdrop-filter: blur(10px);
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255,255,255,.2);
      z-index: 1;
    }

    form {
      position: relative;
      z-index: 2;
      padding: 15px;
    }

    button {
      background-color: unset;
      cursor: pointer;
    }
  }

  .project-photos {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    .default-form {
      border-radius: 8px;
      border: 2px solid #3b9ce3;
    }

    .default-btn {
      border-radius: 8px;
    }

    @media screen and(min-width: 993px) {
      grid-template-columns: repeat(4, 1fr);

      .default-form {
        display: block;
      }
    }
  }

  .input-add {
    height: 120px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and(min-width: 993px) {
      height: 160px;
      cursor: pointer;
    }

    //&:before, &:after {
    //  content: '';
    //  position: absolute;
    //  left: 50%;
    //  top: 50%;
    //  transform: translate(-50%, -50%);
    //  background-color: #3b9ce3;
    //}
    //
    //&:before {
    //  width: 26px;
    //  height: 2px;
    //}
    //
    //&:after {
    //  height: 26px;
    //  width: 2px;
    //}

    input {
      display: block;
    }
  }
}