.main-settings {
  .password-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .default-title {
      text-align: center;

      @media screen and(min-width: 993px) {
        font-size: 22px;
      }
    }

    @media screen and(min-width: 993px) {
      width: min-content;
    }
  }

  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 195px);
    @media screen and(min-width: 993px) {
      min-height: calc(100vh - 180px);
    }
  }
}