footer {
  background-color: #2d2d2d;
  padding: 40px 0px;
  color: #fff;
  
  @media screen and(max-width: 992px) {
    padding: 30px 0px 12px;
  }

  a {
    color: #fff;

    span {
      color: #fff;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-right: 78px;
    position: relative;

    @media screen and(max-width: 992px) {
      flex-direction: column;
      justify-content: unset;
      align-items: center;
      padding-right: 0;
    }
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and(max-width: 992px) {
      align-items: center;
      margin-bottom: 29px;
    }

    img,svg {
      height: 40px;
      width: auto;
      margin-bottom: 12px;

      @media screen and(max-width: 992px) {
        height: 27px;
      }
    }

    span {
      width: 181px;
      height: 19px;
      color: #fff;
      font-family: $helveticaR;
      font-size: 16px;
      letter-spacing: 1px;
      @media screen and(max-width: 992px) {
        text-align: center;
      }
    }
  }

  .footer-nav {
    @media screen and(max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  }

  .footer-nav__label {
    color: #ffffff;
    font-family: $helveticaM;
    font-size: 24px;
    margin-bottom: 15px;

    @media screen and(max-width: 992px) {
      margin-bottom: 24px;
    }
  }

  .footer-nav__links {
    display: flex;
    flex-direction: column;

    @media screen and(max-width: 992px) {
      align-items: center;
    }

    a {
      display: flex;
      align-items: center;
      opacity: 0.4;
      color: #ffffff;
      font-family: $helveticaR;
      font-size: 18px;
      margin-bottom: 17px;
      position: relative;
      transition: opacity .4s ease-in-out;
      width: fit-content;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #fff;
        transition: width .4s ease-in-out;
      }

      @media screen and(min-width: 993px){
        &:hover {
          opacity: 1;
          &:before {
            width: 35%;
          }
        }
      }

      @media screen and(max-width: 992px) {
        margin-bottom: 25px;
      }
    }
  }

  .instagram, .behance {
    letter-spacing: 1.8px;
    img,svg {
      height: 20px;
      width: auto;
      margin-right: 10px;
    }

    @media screen and(min-width: 993px){
      &:before {
        bottom: -8px !important;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  .copyrights {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    span {
      color: #ffffff;
      font-family: $helveticaR;
      font-size: 18px;
      opacity: .4;
    }

    @media screen and(max-width: 992px) {
      position: static;
      flex-direction: row;
      grid-column-gap: 5px;
      span {
        font-size: 14px;
        opacity: 1;
      }
    }
  }
}