.form-section {
  background-color: $red;
  padding: 44px 0px;

  @media screen and(max-width: 992px) {
   padding: 30px 0px;
  }

  .default-title {
    color: #fff;
    transform: translateY(5px);

    @media screen and(max-width: 992px) {
      margin-bottom: 28px;
      transform: unset;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and(max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }

  form {
    display: flex;
    align-items: center;

    @media screen and(max-width: 992px) {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      grid-row-gap: 20px;
    }
  }

  .form-inputs {
    display: flex;
    align-items: center;
    margin-right: 20px;
    @media screen and(max-width: 992px) {
      display: grid;
      grid-template-columns: 1fr;
      margin-right: 0;
      width: 100%;
      grid-row-gap: 20px;
    }


    input {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @media screen and(max-width: 992px) {
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .default-btn {
    height: 44px;

    @media screen and(max-width: 992px) {
      width: 100%;
    }
  }

}