header {
  padding: 40px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  
  @media screen and(max-width: 992px) {
    padding: 12px 0px;
  }
  .container {
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .header-logo {
    height: 40px;
    width: auto;
    padding: 6px;
    border-radius: 3px;
    transition: background-color ease-in-out .6s;
    background-color: $red;
    animation: logo 1s 1.2s cubic-bezier(.785,.135,.15,.86);
    animation-fill-mode: both;

    &.active {
      background-color: $red !important;
    }

    img {
      width: auto;
    }

    @media screen and(max-width: 992px){
      height: 30px;
    }
  }

  .burger-menu {
    overflow: hidden;
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @media screen and(max-width: 992px) {
      height: 19px;
      width: 25px;
    }

    &.isAnimated {
      span {
        animation: menu 1s ease-in-out;
        animation-fill-mode: both;

        &:first-child {
          animation-delay: 1s;
        }
        &:nth-child(2) {
          animation-delay: 1.2s;
        }
        &:last-child {
          animation-delay: 1.4s;
        }
      }
    }

    &.is-open {
      span {
        background-color: #9e9e9e !important;
        &:first-child {
          transform: translateY(11px) rotate(135deg);
          @media screen and(max-width: 992px) {
            transform: translateY(8px) rotate(135deg);
          }
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translateX(-60px);
        }

        &:last-child {
          transform: translateY(-11px) rotate(-135deg);

          @media screen and(max-width: 992px) {
            transform: translateY(-9px) rotate(-135deg);
          }
        }
      }
    }

  &.active {
    span {
      animation: burger 1s ease-in-out;


      &:nth-child(2) {
        animation-delay: .2s;
      }

      &:last-child {
        animation-delay: .4s;
      }
    }
  }

  span {
    background-color: #000000;
    height: 3px;
    width: 100%;
    border-radius: 1px;
    transition: all .4s ease-in-out;

    @media screen and(max-width: 992px) {
      height: 2px;
    }
  }
}

.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $bebasR;
  pointer-events: none;

  &.active {
    pointer-events: all;
    .header-nav__item {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.header-nav__item {
  font-size: 64px;
  font-weight: 400;
  width: 100%;
  position: relative;
  transition: all .2s ease-in-out;
  text-align: center;
  z-index: 2;
  opacity: 0;
  transform: translateY(10px);
  margin-bottom: 30px;

  @media screen and(max-width: 992px) {
    font-size: 40px;
    margin-bottom: 20px;
  }

  span {
    color: #9e9e9e;
    transition: all .4s ease-in-out;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    transition: height .4s ease-in-out;
    background-color: #ffa8a9;
    height: 0%;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
  }

  @media screen and(min-width: 992px) {
    &:hover {
      span {
        color: #000;
      }

      &:before {
        height: 34px;
      }
    }
  }
  }

  .shape-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .shape-overlays__path {
    fill: #fff;

    &:nth-child(2) {
      fill: #ffa8a9;
    }

    &:last-child {
      fill: #eee;
    }
  }
}