

.services-section {
  padding: 80px 0px;

  @media screen and(max-width: 992px) {
    padding: 23px 0px;
  }

  .default-title {
    text-align: left;
    margin-bottom: 27px;
    position: relative;

    &:before {
      content: '';
      width: 65px;
      height: 1px;
      background-color: $red;
      left: -94px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;

      @media screen and(max-width: 992px) {
        left: unset;
        right: 0;
        width: 40px;
      }
    }

    @media screen and(max-width: 992px) {
      font-size: 30px;
    }
  }

  .services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and(max-width: 992px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 46px;
    }
  }

  .card {
    max-width: 330px;

    @media screen and(max-width: 992px) {
      max-width: unset;
    }
  }

  .card-img {
    height: 248px;
    margin-bottom: 22px;
  }

  .default-card__title {
    margin-bottom: 10px;
  }

}