header.admin-header
    a(href='/')
        img.admin-header__logo(src='/images/logo.svg' alt='logo')
    .admin-header__menu
        a.admin-header__menu-item(href='/admin')
            img(src='/images/admin/NewsIcon.svg' alt='news')
            span Проекты
        a.admin-header__menu-item(href='/admin/categories')
            img(src='/images/admin/categoriesIcon.svg' alt='categories')
            span Категории
        a.admin-header__menu-item(href='/admin/settings')
            img(src='/images/admin/SettingsIcon.svg' alt='settings')
            span Настройки
    .admin-menu__toggler
        img(src='/images/admin/HeaderArrow.svg' alt='arrow')
        .burger-menu
            span
            span
            span
