@keyframes burger {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mouse {
  0%,
  to {
    transform: scaleY(.4) translateY(0)
  }
  20% {
    transform: scaleY(1) translateY(0)
  }
  50% {
    transform: scaleY(.4) translateY(20px)
  }
}

@keyframes fromScale {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes menu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  0% {
    transform: translateX(15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOutUp2 {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: .4;
  }
}

@keyframes mainSectionTitle {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }
  50% {
    transform: translateY(-7px);
    opacity: .5
  }
  100% {
    transform: translate(0);
    opacity: 1
  }
}

@keyframes clipOutRight {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes clipOutDown {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes buttonFadeUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes burgerFadeUp {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


[data-aos="clipLeft"] {
  clip-path: inset(0 100% 0 0);

  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}


[data-aos="clipRight"] {
  clip-path: inset(0 0 0 100%);

  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}

[data-aos="user-fade-up"] {
  transform: translateY(40px);
  opacity: 0;

  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-aos="user-fade-right"] {
  transform: translateX(-30px);
  opacity: 0;

  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-aos="user-fade-left"] {
  transform: translateX(-30px);
  opacity: 0;

  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}

//[data-aos="fadeOut"] {
//  clip-path: inset(0 0 0 100%);
//
//  &.aos-animate {
//    clip-path: inset(0 0 0 0);
//  }
//}


[data-aos] {
  body[data-aos-easing="default-cubic"] &,
  &[data-aos][data-aos-easing="default-cubic"] {
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}