* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #292929;
}

.container {
  max-width: 1110px;
  margin: 0 auto;

  @media screen and(max-width: 992px) {
    padding: 0 15px;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default-title {
  font-family: $bebasB;
  font-size: 64px;
  letter-spacing: 1px;
  text-align: center;

  span:last-child {
    color: #ff636d;
  }

  @media screen and(max-width: 992px) {
    font-size: 36px;
    letter-spacing: 0.5px;
    text-align: left;
  }
}

.default-desc {
  font-family: $helveticaR;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @media screen and(max-width: 992px) {
    color: #4c4c4c;
    font-size: 15px;
    line-height: 26px;
  }
}

.default-btn {
  padding: 12px 20px 12px;
  border-radius: 3px;
  background-color: $red;
  width: fit-content;
  color: #fff;
  font-family: $helveticaM;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #fff;
  }

  &.active {
    span {
      animation: buttonFadeUp .4s linear;
    }
  }

  span {
    display: inline-block;
  }

  &.white-btn {
    background-color: #fff;
    color: $red;
    span {
      color: $red;
    }
  }

  @media screen and(max-width: 992px) {
    font-family: $helveticaR;
    font-size: 12px;
  }
}

main {
  padding-top: 120px;

  @media screen and(max-width: 992px) {
    padding-top: 64px;
  }
}

.line-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: -1;
  animation: clipOutDown 2s ease-in-out both;

  .line {
    width: 1px;
    background-color: #efefef;
    height: 100%;
  }
  
  @media screen and(max-width: 992px) {
    display: none;
  }
}

.default-card__title {
  font-family: $helveticaM;
  font-size: 24px;
  line-height: normal;
  text-align: left;

  span {
    color: $red;
  }

  @media screen and(max-width: 992px) {
    font-size: 20px;
  }
}

.default-card__subtitle {
  font-family: $helveticaR;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.default-subtitle {
  color: #ffffff;
  font-family: $helveticaR;
  font-size: 14px;
  letter-spacing: 1.24px;
  text-transform: uppercase;
}

.form-input {
  min-width: 160px;
  height: 44px;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;

  &::placeholder {
    text-align: center;
    opacity: 0.25;
    font-family: $helveticaR;
    font-size: 12px;
  }
}

main {
  overflow: hidden;
}