@font-face {
  font-family: 'Bebas Neue Bold';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('/fonts/Bebas Neue Bold/bebasneuebold.woff2') format('woff2'), url('/fonts/Bebas Neue Bold/bebasneuebold.woff') format('woff'), url('/fonts/Bebas Neue Bold/bebasneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('/fonts/Bebas Neue Regular/bebasneueregular.woff2') format('woff2'), url('/fonts/Bebas Neue Regular/bebasneueregular.woff') format('woff'), url('/fonts/Bebas Neue Regular/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: local('Helvetica Neue Medium'), local('Helvetica-Neue-Medium'),
  url('/fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('/fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('/fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
  url('/fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('/fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('/fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Regular';
  src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
  url('/fonts/Helvetica Regular/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('/fonts/Helvetica Regular/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('/fonts/Helvetica Regular/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: local('Helvetica Neue Light'), local('Helvetica-Neue-Light'),
  url('/fonts/Helvetica Light/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('/fonts/Helvetica Light/HelveticaNeueCyr-Light.woff') format('woff'),
  url('/fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}