#error-main {
  @media screen and(max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 0;
  }

  .line-container {
    max-width: 599px;
    @media screen and(max-width: 992px) {
      display: flex;
      justify-content: center;
      span {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }

  .container {
    &:nth-child(2) {
      display: flex;
      justify-content: center;
    }
  }

  .error-img {
    max-width: 744px;
    height: auto;
  }

  .about-nav__container {
    position: absolute;
    bottom: 41px;
    max-width: 1440px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    @media screen and(max-width: 992px) {
      padding: 0 15px;
      bottom: 15px;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    animation: fadeOutRight 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
    animation-fill-mode: both;

    a {
      margin-right: 50px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      @media screen and(max-width: 992px) {
        margin-right: 10px;
      }

      span {
        color: #292929;
        font-family: $helveticaR;
        font-size: 18px;
        letter-spacing: 1.8px;
        transform: translateY(2px);

        @media screen and(max-width: 992px) {
          display: none;
        }
      }
    }

    img,svg {
      margin-right: 10px;

      g {
        opacity: 1 !important;
      }
      path {
        fill: #292929 !important;
      }

      @media screen and(max-width: 992px) {
        margin-right: 0;
      }
    }
  }

  .help-link {
    color: #292929;
    font-family: $helveticaR;
    font-size: 18px;
    letter-spacing: 1.8px;
    position: relative;
    animation: fadeOutLeft 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
    animation-fill-mode: both;

    &:before {
      content: '';
      position: absolute;
      bottom: -4px;
      height: 1px;
      width: 100%;
      left: 0;
      background-color: #292929;

      @media screen and(max-width: 992px) {
        bottom: 0;
      }
    }
  }
}