#main-about {
  padding-top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  .container {
    max-width: 1015px;
  }

  .line-container {
    max-width: 599px;

    span {
      &:first-child {
        display: none;
      }
    }

    @media screen and(max-width: 992px){
      display: flex;
      justify-content: center;
      span {
        display: none;
        &:first-child,  {
          display: block;
        }
      }
    }
  }

  .section-content {
    @media screen and(max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }

  .about-title {
    opacity: 0.4;
    color: #292929;
    font-family: $helveticaR;
    font-size: 14px;
    letter-spacing: 1.24px;
    text-transform: uppercase;
    margin-bottom: 21px;
    animation: fadeOutUp2 2s  cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-fill-mode: both;

    @media screen and(max-width: 992px) {
      margin-bottom: 10px;
    }
  }

  .default-desc {
    font-size: 30px;
    letter-spacing: normal;
    line-height: 50px;
    animation: fadeOutUp 2s  cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s both;

    span {
      color: #fff;
      padding: 5px;
      border-radius: 3px;
      background-color: #ff636d;
    }

    @media screen and(max-width: 992px) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .about-nav__container {
    position: absolute;
    bottom: 41px;
    max-width: 1440px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    @media screen and(max-width: 992px) {
      padding: 0 15px;
      bottom: 15px;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    animation: fadeOutRight 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
    animation-fill-mode: both;

    a {
      margin-right: 50px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      @media screen and(max-width: 992px) {
        margin-right: 10px;
      }

      span {
        color: #292929;
        font-family: $helveticaR;
        font-size: 18px;
        letter-spacing: 1.8px;
        transform: translateY(2px);

        @media screen and(max-width: 992px) {
          display: none;
        }
      }
    }

    img,svg {
      margin-right: 10px;

      g {
        opacity: 1 !important;
      }
      path {
        fill: #292929 !important;
      }

      @media screen and(max-width: 992px) {
        margin-right: 0;
      }
    }
  }

  .help-link {
    color: #292929;
    font-family: $helveticaR;
    font-size: 18px;
    letter-spacing: 1.8px;
    position: relative;
    animation: fadeOutLeft 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
    animation-fill-mode: both;

    &:before {
      content: '';
      position: absolute;
      bottom: -4px;
      height: 1px;
      width: 100%;
      left: 0;
      background-color: #292929;

      @media screen and(max-width: 992px) {
        bottom: 0;
      }
    }
  }
}