#callback-main {
  padding-top: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and(max-width: 992px) {
    padding: 100px 0px 50px;
  }

  .line-container {
    max-width: 599px;
    @media screen and(max-width: 992px) {
      display: flex;
      justify-content: center;
      span {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }

  .container {
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .section-content {
    max-width: 461px;
  }

  .section-title {
    font-family: $helveticaR;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  .default-desc {
    color: #5c5c5c;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 26px;
    margin-bottom: 28px;
  }

  .callback-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }

  .input-wrap {
    width: 100%;
    position: relative;

    &:before {
      content: '*';
      color: $red;
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      right: -10px;
    }
  }

  .callback-input {
    width: 100%;
    border: 1px solid rgba(41, 41, 41, 0.25);
    border-radius: 3px;
    background-color: #fff;
    padding: 17px 15px 16px;

    &::placeholder {
      opacity: 0.25;
      font-family: $helveticaR;
      font-size: 12px;
    }
  }

  textarea {
    height: 131px;
    resize: vertical;
  }

  textarea + span {
    color: #c9c9c9;
    font-family: $helveticaR;
    font-size: 12px;
    text-align: center;
  }

  .default-btn {
    width: 100%;
    cursor: pointer;
  }

  .about-nav__container {
    position: absolute;
    bottom: 41px;
    max-width: 1440px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    @media screen and(max-width: 992px) {
      padding: 0 15px;
      bottom: 15px;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    animation: fadeOutRight 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
    animation-fill-mode: both;

    a {
      margin-right: 50px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      @media screen and(max-width: 992px) {
        margin-right: 10px;
      }

      span {
        color: #292929;
        font-family: $helveticaR;
        font-size: 18px;
        letter-spacing: 1.8px;
        transform: translateY(2px);

        @media screen and(max-width: 992px) {
          display: none;
        }
      }
    }

    img,svg {
      margin-right: 10px;

      g {
        opacity: 1 !important;
      }
      path {
        fill: #292929 !important;
      }

      @media screen and(max-width: 992px) {
        margin-right: 0;
      }
    }
  }

  .help-link {
    color: #292929;
    font-family: $helveticaR;
    font-size: 18px;
    letter-spacing: 1.8px;
    position: relative;
    animation: fadeOutLeft 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
    animation-fill-mode: both;

    &:before {
      content: '';
      position: absolute;
      bottom: -4px;
      height: 1px;
      width: 100%;
      left: 0;
      background-color: #292929;

      @media screen and(max-width: 992px) {
        bottom: 0;
      }
    }
  }
}