.main {
  padding-top: 0;

  .line-container {
    @media screen and(max-width: 992px) {
      display: flex;
      justify-content: center;
      span {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }

  .main-section {
    min-height: 100vh;
    background-image: url("/images/main/main-pattern.png"), linear-gradient(225deg, #8c1346 0%, #c94b4b 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    animation: fromScale 1.2s ease-in-out;

    @media screen and(max-width: 992px){
      background-image:linear-gradient(225deg, #8c1346 0%, #c94b4b 100%);
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url("/images/main/main-pattern-xs.png");
        z-index: 1;
        opacity: .1;
      }
    }

     .default-desc, .default-subtitle {
      color: #fff;
      text-align: left;
    }

    .default-title {
      span {
        animation: mainSectionTitle .7s ease-in-out forwards;
        animation-fill-mode: both;
        color: #fff !important;
        display: inline-block;

        &:nth-of-type(2) {
          animation-delay: .05s
        }

        &:nth-of-type(3) {
          animation-delay: .1s
        }

        &:nth-of-type(4) {
          animation-delay: .15s
        }

        &:nth-of-type(5) {
          animation-delay: .2s
        }

        &:nth-of-type(6) {
          animation-delay: .25s
        }

        &:nth-of-type(7) {
          animation-delay: .3s
        }

        &:nth-of-type(8) {
          animation-delay: .35s
        }

        &:nth-of-type(9) {
          animation-delay: .4s;
          margin-right: 10px;
        }

        &:nth-of-type(10) {
          animation-delay: .45s
        }

        &:nth-of-type(11) {
          animation-delay: .5s
        }

        &:nth-of-type(12) {
          animation-delay: .55s;
          margin-right: 10px;
        }

        &:nth-of-type(13) {
          animation-delay: .6s
        }

        &:nth-of-type(14) {
          animation-delay: .65s
        }

        &:nth-of-type(15) {
          animation-delay: .7s
        }

        &:nth-of-type(16) {
          animation-delay: .75s
        }

        &:nth-of-type(17) {
          animation-delay: .8s
        }

        &:nth-of-type(18) {
          animation-delay: .85s
        }

        &:nth-of-type(19) {
          animation-delay: .9s
        }

        &:nth-of-type(20) {
          animation-delay: .95s
        }
      }
    }

    .default-subtitle {
      animation: fadeOutRight 1.6s cubic-bezier(.785,.135,.15,.86) 1.1s;
      animation-fill-mode: both;
    }

    .default-desc {
      animation: fadeOutUp 1.6s cubic-bezier(.785,.135,.15,.86) 1.1s;
      animation-fill-mode: both;
    }

    .default-btn {
      animation: fadeOutUp 1.6s cubic-bezier(.785,.135,.15,.86) 1.25s;
      animation-fill-mode: both;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media screen and(max-width: 992px) {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .main-section__img {
      height: 65vh;
      transform: translateX(-100px);
      opacity: 0;
      img {
        object-fit: contain;
      }

      svg {
        overflow: visible;
        height: 100%;
        width: 100%;

        &.active {
          #head {
            animation: burgerFadeUp .8s ease-in-out 1s both;
          }

          #center {
            animation: burgerFadeUp .8s ease-in-out .8s both;
          }

          #meats {
            animation: burgerFadeUp .8s ease-in-out .6s both;
          }

          #salat {
            animation: burgerFadeUp .8s ease-in-out .4s both;
          }

          #cheese {
            animation: burgerFadeUp .8s ease-in-out .2s both;
          }

          #lag {
            animation: burgerFadeUp .8s ease-in-out  both;
          }
        }

        g {
          transition: all .1s linear;
        }
      }



      @media screen and(max-width: 992px) {
        height: unset;
        width: 25vh;
        transform: translateX(-20px);
        margin-bottom: 50px;
        opacity: 1;
      }
    }

    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .default-subtitle {
      margin-bottom: 3px;

      @media screen and(max-width: 992px) {
        font-size: 12px;
      }
    }

    .default-title {
      margin-bottom: 34px;

      @media screen and(max-width: 992px) {
        font-size: 30px;
        margin-bottom: 29px;
      }
    }

    .content-line {
      height: 1px;
      width: 55px;
      background-color: #fff;
      margin-bottom: 36px;
      animation: clipOutRight .7s ease-out .4s;
      animation-fill-mode: both;

      @media screen and(max-width: 992px) {
        margin-bottom: 23px;
      }
    }

    .default-desc {
      max-width: 450px;
      margin-bottom: 36px;

      @media screen and(max-width: 992px) {
        font-size: 16px;
      }
    }

    .default-btn {
      max-width: 185px;
      text-transform: uppercase;

      @media screen and(max-width: 992px) {
        font-family: $helveticaB;
      }
    }

    .container:last-child {
      position: absolute;
      left: 50%;
      bottom: 3vh;
      transform: translateX(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px;
      max-width: 1440px;

      @media screen and(max-width: 992px) {
        bottom: 1.5vh;
        flex-direction: row;
        padding: 0 15px;
      }
    }

    .mouse {
      width: 22px;
      height: 40px;
      border-radius: 15px;
      border: 2px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:before {
        content: '';
        width: 2px;
        height: 60%;
        position: absolute;
        top: 10%;
        left: calc(50% - 1px);
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 1px;
        animation: mouse 2s linear infinite;

        @media screen and(max-width: 992px) {
          height: 50%;
        }
      }

      @media screen and(max-width: 992px) {
        width: 14px;
        height: 24px;
      }
    }

    .socials {
      display: flex;
      align-items: center;
      animation: fadeOutRight 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
      animation-fill-mode: both;

      a {
        margin-right: 50px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-right: 0;
        }

        @media screen and(max-width: 992px) {
          margin-right: 10px;
        }

        span {
          color: #fff;
          font-family: $helveticaR;
          font-size: 18px;
          letter-spacing: 1.8px;
          transform: translateY(2px);

          @media screen and(max-width: 992px) {
            display: none;
          }
        }
      }

      img,svg {
        margin-right: 10px;

        g {
          opacity: 1 !important;
        }
        path {
          fill: #fff !important;
        }

        @media screen and(max-width: 992px) {
          margin-right: 0;
        }
      }
    }

    .help-link {
      color: #fff;
      font-family: $helveticaR;
      font-size: 18px;
      letter-spacing: 1.8px;
      position: relative;
      animation: fadeOutLeft 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
      animation-fill-mode: both;

      &:before {
        content: '';
        position: absolute;
        bottom: -4px;
        height: 1px;
        width: 100%;
        left: 0;
        background-color: #fff;

        @media screen and(max-width: 992px) {
          bottom: 0;
        }
      }
    }
  }

  .about-section {

    padding: 160px 0px 80px;

    @media screen and(max-width: 992px) {
      padding: 40px 0px 23px;
    }

    .default-title {
      text-align: left;
      margin-bottom: 27px;
      position: relative;

      &:before {
        content: '';
        width: 65px;
        height: 1px;
        background-color: $red;
        left: -94px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;

        @media screen and(max-width: 992px) {
          left: unset;
          right: 0;
          width: 40px;
        }
      }

      @media screen and(max-width: 992px) {
        font-size: 30px;
      }
    }
    .about-desc {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 80px;

      @media screen and(max-width: 992px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
      }
    }
  }

  .projects-section {
    padding: 80px 0px 120px;

    @media screen and(max-width: 992px) {
      padding: 23px 0px 40px;
    }

    .container {
      display: grid;
      grid-row-gap: 120px;

      @media screen and(max-width: 992px) {
        grid-row-gap: 40px;
      }
    }

    .section-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and(max-width: 992px) {
        flex-direction: column;
        justify-content: unset;
      }

      &:nth-child(even) {
        .section-img {
          transform: translateX(120px);

          @media screen and(max-width: 992px) {
            transform: unset;
          }
        }

        .content {
          @media screen and(max-width: 992px) {
            order: 1;
          }
        }
      }
    }

    .content {
      max-width: 370px;
    }

    .default-subtitle {
      color: #ff9ca2;
      font-family: $helveticaR;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 8px;

      @media screen and(max-width: 992px) {
        text-transform: unset;
        margin-bottom: 7px;
      }
    }

    .default-title {
      text-align: left;
      font-size: 40px;
      letter-spacing: 1.33px;
      margin-bottom: 16px;

      @media screen and(max-width: 992px) {
        font-size: 30px;
        margin-bottom: 13px;
      }
    }

    .section-img {
      height: 443px;
      width: auto;
      transform: translateX(-120px);

      @media screen and(max-width: 992px) {
        transform: unset;
        height: 192px;
        width: 100%;
        margin-bottom: 18px;
      }
    }

    .default-desc {
      margin-bottom: 28px;
      @media screen and(max-width: 992px) {
        margin-bottom: 23px;
      }
    }

    .default-btn {
      @media screen and(max-width: 992px) {
        width: 100%;
        max-width: 768px;
        text-transform: uppercase;
      }
    }
  }
}