#main-naming, #main-logo {
  .main-section {
    padding-bottom: 60px;

    @media screen and(max-width: 992px) {
      padding: 35px 0px 20px;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and(max-width: 992px) {
        flex-direction: column;
        justify-content: unset;
      }
    }

    .section-content {
      max-width: 445px;

      @media screen and(max-width: 992px) {
        margin-bottom: 35px;
      }
    }

    .main-section__img {
      height: 540px;
      transform: translateX(115px);

      @media screen and(max-width: 992px) {
        width: 100%;
        height: unset;
        transform: unset;
      }
    }

    .default-title {
      text-align: left;
      margin-bottom: 20px;

      @media screen and(max-width: 992px) {
        margin-bottom: 17px;
      }
    }

    .default-desc {
      margin-bottom: 36px;

      @media screen and(max-width: 992px) {
        margin-bottom: 26px;
      }
    }

    .default-btn {
      text-transform: uppercase;
    }
  }

  .advantages-section {
    padding: 60px 0px;

    @media screen and(max-width: 992px) {
      padding: 20px 0px;
    }

    .default-title {
      margin-bottom: 77px;

      @media screen and(max-width: 992px) {
        margin-bottom: 38px;
      }
    }

    .advantage-card {
      @media screen and(max-width: 992px) {
        margin-bottom: 37px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .advantage-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 45px;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0px;
      }
    }

    .card-img {
      max-height: 44px;
      width: auto;
      margin-bottom: 12px;
    }

    .default-card__title {
      margin-bottom: 14px;

      @media screen and(max-width: 992px) {
        margin-bottom: 11px;
      }
    }

    .default-desc {
      max-width: 320px;

      @media screen and(max-width: 992px) {
        max-width: unset;
      }
    }
  }

  .who-need__section {
    padding: 60px 0px;
    @media screen and(max-width: 992px) {
      padding: 20px 0px;
    }

    .default-title {
      margin-bottom: 65px;

      @media screen and(max-width: 992px) {
        margin-bottom: 28px;
      }
    }

    .who-need__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 45px;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-row-gap: 27px;
      }

      .default-desc {
        max-width: 505px;

        @media screen and(max-width: 992px) {
          max-width: unset;
        }
      }
    }

    .default-card__title {
      margin-bottom: 15px;
      position: relative;
      padding-left: 20px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 9px;
        height: 6px;
        width: 6px;
        background-color: $red;
        border-radius: 50%;
      }
    }

  }

  .steps-section {
    padding: 60px 0px;

    @media screen and(max-width: 992px) {
      padding: 20px 0px;
    }

    .default-title {
      margin-bottom: 65px;
      @media screen and(max-width: 992px) {
        margin-bottom: 26px;
      }
    }

    .steps-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 45px;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-row-gap: 27px;
      }
    }

    .steps-card {
      max-width: 320px;

      @media screen and(max-width: 992px) {
        max-width: unset;
      }
    }

    .default-card__title {
      margin-bottom: 14px;
    }
  }

  .criteria-section {
    padding: 60px 0px;

    @media screen and(max-width: 992px) {
      padding: 20px 0px;
    }

    .default-title {
      margin-bottom: 65px;

      @media screen and(max-width: 992px) {
        margin-bottom: 28px;
      }
    }

    .criteria-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-row-gap: 20px;
      }
    }

    .default-card__title {
      font-size: 18px;
      margin-bottom: 12px;
      letter-spacing: -.1px;
    }

    .default-desc {
      font-size: 14px;
      line-height: 20px;
    }

    .card {
      padding: 20px;
      border: 1px solid #c9c9c9;
      background-color: #fff;

      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .default-card__title {
          margin-bottom: 21px;
          text-align: center;
        }

        .default-btn {
          font-size: 12px;
        }
      }
    }
  }

  .prices-section {
    padding: 60px 0px;

    @media screen and(max-width: 992px) {
      padding: 20px 0px;
    }

    .default-title {
      margin-bottom: 65px;

      @media screen and(max-width: 992px) {
        margin-bottom: 28px;
      }
    }

    .prices-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
      
      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-row-gap: 20px;
      }
    }

    .card {
      padding: 25px 20px;
      border: 1px solid #c9c9c9;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;

      .default-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .default-card__title {
      margin-bottom: 19px;
    }

    .default-card__subtitle {
      margin-bottom: 20px;
    }
  }

  .examples-section {
    padding: 60px 0px 120px;

    @media screen and(max-width: 992px) {
      padding: 20px 0px 35px;
    }
    .default-title {
      margin-bottom: 65px;

      @media screen and(max-width: 992px) {
        margin-bottom: 28px;
      }
    }

    .examples-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-gap: 23px;
      }
    }

    .card {
      padding: 0px 30px;

      @media screen and(max-width: 992px) {
        padding: 0;
      }
    }

    .default-card__title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .card-img {
      height: 175px;
      margin-bottom: 22px;

      @media screen and(max-width: 992px) {
        height: unset;
      }
    }

    .default-desc {
      opacity: 0.85;
      font-size: 14px;
      line-height: 26px;
    }
  }
}