#project-main {
  padding-top: 0;
  position: relative;

  .main-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    animation: fromScale 1.2s ease-in-out;

    &:before {
      content: "";
      background-color: rgba(0, 0, 0, .3);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @media screen and(max-width: 992px) {
      height: 60vh;
    }

    .main-section__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .container {
      width: 100%;
    }

    .default-title, .default-desc {
      color: #fff;
      text-align: left;
    }

    .default-title {
      margin-bottom: 16px;
      font-size: 72px;

      @media screen and(max-width: 992px) {
        font-size: 30px;
        letter-spacing: 0.47px;
        margin-bottom: 5px;
      }
    }

    .default-desc {
      font-size: 24px;
      font-family: $helveticaL;
      
      @media screen and(max-width: 992px) {
        font-size: 15px;
      }
    }

    .main-section__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 4vh;
      max-width: 1440px;
      padding: 0 50px;

      @media screen and(max-width: 992px) {
        bottom: 15px;
        padding: 0 15px;
      }
    }

    .projects-nav {
      display: flex;
      align-items: center;
      animation: fadeOutRight 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
      animation-fill-mode: both;
    }

    .prev-arrow, .next-arrow {
      display: flex;
      align-items: center;

      span {
        color: #ffffff;
        font-family: $helveticaL;
        font-size: 18px;
        letter-spacing: 0.75px;

        @media screen and(max-width: 992px) {
          display: none;
        }
      }

      img, svg {
        width: 11px;
        height: 20px;

        @media screen and(max-width: 992px) {
          width: 13px;
          height: 25px;
        }
      }
    }

    .prev-arrow {
      margin-right: 80px;

      @media screen and(max-width: 992px) {
        margin-right: 40px;
      }

      img, svg {
        margin-right: 15px;

        @media screen and(max-width: 992px) {
          margin-right: 0;
        }
      }
    }

    .next-arrow {
      img, svg {
        transform: scale(-1);
      }
      span {
        margin-right: 15px;
      }
    }

    .project-links {
      animation: fadeOutLeft 1.6s cubic-bezier(.785,.135,.15,.86) .6s;
      animation-fill-mode: both;
      a {
        color: #fff;
        font-family: $helveticaR;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 23px;
        position: relative;

        @media screen and(max-width: 992px) {
          font-size: 14px;
          line-height: normal;
          letter-spacing: normal;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: -4px;
          height: 1px;
          width: 100%;
          left: 0;
          background-color: #fff;

          @media screen and(max-width: 992px) {
            bottom: 0;
          }
        }

        &:first-child {
          margin-right: 80px;

          @media screen and(max-width: 992px) {
            margin-right: 30px;
          }
        }
      }
    }
  }

  .about-section {
    padding: 160px 0px;
    
    @media screen and(max-width: 992px) {
      padding: 40px 0;
    }

    .default-title {
      text-align: left;
      margin-bottom: 24px;

      @media screen and(max-width: 992px) {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }

    .about-section__info {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin-bottom: 76px;

      @media screen and(max-width: 992px) {
        grid-template-columns: 1fr;
        margin-bottom: 37px;
      }
    }

    .default-desc {
      max-width: 710px;
      font-family: $helveticaL;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 36px;

      @media screen and(max-width: 992px) {
        font-size: 15px;
        line-height: 28px;
        letter-spacing: normal;
        margin-bottom: 37px;
      }
    }

    .info-card__wrap {
      padding: 0 20px;

      @media screen and(max-width: 992px) {
        padding: 0;
      }
    }

    .info-card {
      border: 1px solid #c9c9c9;
      padding: 20px;

      span {
        color: #292929;
        font-family: $helveticaL;
        font-size: 16px;
        font-weight: 300;

        &:first-child {
          opacity: 0.4;
        }
      }
    }

    .info-card__name, .info-card__year {
      margin-bottom: 15px;
    }

    .info-card__name, .info-card__year, .info-card__link {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .about-section__cards {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 30px;

      @media screen and(max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .card {
      img {
        border: 1px solid #979797;
        height: 160px;
        margin-bottom: 20px;
      }
    }

    .card-desc {
      font-family: $helveticaL;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 1px;
      text-align: center;
    }
  }

  .photos-section {
    img {
      display: block;
    }
  }

  .nav-section {
    padding: 50px 0;

    @media screen and(max-width: 992px) {
      padding: 30px 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .svg {
      path {
        fill: #292929;
      }
    }

    .nav-next, .nav-prev {
      display: flex;
      align-items: center;

      span {
        font-family: $helveticaL;
        font-size: 18px;

        @media screen and(max-width: 992px) {
          display: none;
        }
      }
    }

    .nav-prev {
      .svg {
        margin-right: 15px;
      }
    }

    .nav-next {
      .svg {
        transform: scale(-1);
      }

      span {
        margin-right: 15px;
      }
    }

    .nav-link {
      font-family: $helveticaR;
      font-size: 30px;
      
      @media screen and(max-width: 992px) {
        font-size: 14px;
      }
    }
  }

  .photo-section {
    @media screen and(min-width: 993px) {
      height: 100vh;
    }
  }
}