#projects-main {
  padding-top: 136px;

  @media screen and(max-width: 992px) {
    padding-top: 77px;
  }

  .line-container {
    justify-content: center;
    span {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }

  .projects-section {
    padding-bottom: 40px;
    .container {
      &:first-child {
        padding-bottom: 57px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 120px;

        &:after {
          content: '';
          height: 1px;
          width: 100vw;
          background-color: #efefef;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          animation: clipOutRight 2s ease-in-out both;
        }

        @media screen and(max-width: 992px) {
          display: flex;
          flex-direction: column;
          grid-column-gap: unset;
          padding-bottom: 26px;
        }
      }
    }

    .default-title {
      text-align: left;

      @media screen and(max-width: 992px) {
        margin-bottom: 21px;
        font-size: 30px;
      }
    }

    .default-desc {
      max-width: 495px;
      color: #4a4a4a;
    }

    .projects-nav {
      padding: 50px 0px 45px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 98px;
      
      @media screen and(max-width: 992px) {
        padding: 26px 0px;
        display: block;
      }
    }

    .nav-tabs {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and(min-width: 993px){
        justify-content: unset;
      }
    }

    .tab {
      @media screen and(min-width: 993px) {
        margin-right: 60px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .tab, .nav-link {
      color: #1a1a1a;
      font-family: $helveticaL;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 1px;
      cursor: pointer;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 0;
        height: 3px;
        background-color: #ff636d;
        transition: width .4s ease-in-out;
      }

      @media screen and(min-width: 993px) {
        &:hover {
          &:before {
            width: 30%;
          }
        }
      }

      @media screen and(max-width: 992px) {
        font-size: 16px;
        letter-spacing: .5px;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .tab {
      &.active {
        &:before {
          width: 100%;
        }
      }
    }

    .nav-link {
      width: fit-content;
      margin-left: auto;

      &:before {
        right: 0;
        width: 25%;
      }

      @media screen and(max-width: 992px) {
        display: none;
      }
    }

    .projects-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      position: relative;
      min-height: 362px;

      @media screen and(max-width: 992px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        min-height: 231px;
      }
    }

    .project {
      height: 362px;
      position: relative;
      transform: scale(.5);
      transition: all .6s ease-in-out;
      opacity: 0;
      display: none;

      &.active {
        opacity: 1;
        transform: scale(1);
      }

      &.d-block {
        display: block;
      }

      &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: background-color .4s ease-in-out;
        mix-blend-mode: multiply;
      }

      @media screen and(min-width: 993px) {
        &:hover {
          &:before {
            background-color: $red;
          }

          .project-desc {
            opacity: 0.9;
            max-height: 15px;
          }

          .project-title {
            margin-bottom: 10px;
          }
        }
      }

      &:after {
        opacity: .3;
        background-color: #000;
        z-index: 2;
      }
      
      @media screen and(max-width: 992px) {
        height: 231px;
      }
    }

    .project-content {
      position: absolute;
      left: 50px;
      bottom: 33px;
      z-index: 3;
      
      @media screen and(max-width: 992px) {
        left: 20px;
        bottom: 16px;
      }
    }

    .project-title {
      opacity: 0.9;
      color: #ffffff;
      font-family: $helveticaB;
      font-size: 20px;
      letter-spacing: 1.5px;
      line-height: 30px;
      transition: margin-bottom .4s ease-in-out;

      @media screen and(max-width: 992px) {
        font-size: 16px;
        letter-spacing: 1.2px;
        line-height: normal;
      }
    }

    .project-desc {
      color: #ffffff;
      font-family: $helveticaR;
      font-size: 16px;
      letter-spacing: 0.44px;
      max-height: 0px;
      transition: all .4s ease-in-out;
      opacity: 0;
    }

  }
}